<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-4.3.1.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <title>{{ g.wiki_name }}
      {% if title %}
      - {{ title }}
      {% endif %}
    </title>
  </head>
  <body>
    <!-- Navbar -->
    {% include "default/navbar.html" %}

    <!-- Content -->
    <div class="container">
      <div class="row row-m-top">
        <div class="col">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

    <!-- Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper-1.14.7.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-4.3.1.min.js') }}"></script>
  </body>
</html>
